body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}

.events-section {
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    width: 80%;
    max-width: 1200px;
}

.upcoming-events-heading {
    text-align: center;
}

.event-container {
    display: flex;
    /* flex-wrap: wrap;
    justify-content: center; */
}

.event-card {
    width: 300px;
    margin: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.event-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.event-card h3 {
    margin: 0;
}

.event-card p {
    margin: 5px 0;
}

.event-card a {
    display: block;
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
}

.event-card a:hover {
    background-color: #444;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
